@import "loading";
ul{padding-left: 0;}
body{overflow: hidden;}
em{font-style: normal;}
.conjtainer{
	h1{float: left;font-size:18px;line-height:50px; padding-left:20px;}
}
.mainbar {background: #fff; overflow: auto; min-height: 100px;
	.page-head{background: #f2f2f2; padding:2rem 0 ; border:none;}
	.head-input{text-align: center; 
		input,button{height:40px;vertical-align: top;}
		input{width:600px;font-size:14px;color:#000;text-indent:1rem}
		button{width:100px;margin-left:10px;}
	}
	
}
.order-header{ text-align:right; padding:10px 0;
	strong{font-size:18px;float:left;}
	span{background-color: #838383; color:#fff; border:1px solid #626262; padding:2px 8px; margin-left:20px; cursor: pointer;}
	button{margin-left:20px; height:2rem; line-height:1;}

}
.order-list{ list-style:none;  margin-bottom:0;
	li{border-top:1px solid #ccc;background-color:#fff;padding:15px 0px;position: relative;
		&:hover{background-color: rgba(0,0,0,0.1);
			i{display:inline-block;
				em{font-weight: bolder;}
			}
			.fa-print{right:40%;}
			.fa-trash-o{right:30%;}
		}
		&:nth-last-of-type(1){border-bottom:1px solid #ccc;}
	}
	i{display:none;  cursor:pointer; position:absolute;top:35%;font-size:3rem;
		em{font-style: normal; display: block; font-size: 1rem;  margin-top:.3rem;}
	}
	time{margin-right:20px;}
	strong{display:block;font-size:16px;}
	strong,p{color:#000;}
	p{max-width:30rem;}
	img{float: right; height: 80px;}
}
.box-list{ text-align: left; font-style: normal; background-color: #fff; padding:30px 0 20px;
	li{text-align: center; display: inline-block;width:70px;margin-right:5px;cursor:pointer;}

	.add em{ font-size:2rem; }
	em{border:1px solid #CCC;display:block;width:100%;height:70px;line-height:70px;}
	a{color:#666;text-decoration:none;}
	a:hover{color:#026b9c;}

}
.output-order{
	.order-header{border-bottom:1px solid #ccc;
		em{font-style: normal;}
	}
	.express-info{line-height: 3; 
		span{margin-right:1rem;}
		div{display:inline-block; margin-right: 1rem;
			// select{height:1.7rem;}
		}
		em{font-style: normal;}
	}
	.express-num{height:38rem;text-align:center; font-size:2rem;}
	.order-num{height:119px;line-height:119px; text-align:center; font-size:2rem;
		border-bottom:1px solid #ccc;border-top:1px solid #ccc; margin-bottom:15rem;
	}
	.merge-note{ background:#E2E1E1; border-bottom: none; line-height:2; margin-top:1rem;
		span{margin-right:2rem;}
	}
}
.print-title{padding-left:15%; font-size:1.8rem;}

//入库 出库 批量打印btn
#storage,#batchPrint,#output{width:100%;font-size:14px; margin-top:2rem; }

//模态框样式
.modal-dialog{margin-top:200px;color:#000;width:35rem;
	.dropdown{margin-bottom: 6rem;
		.btn{width:13rem;}
	}
	.modal-footer form{display: inline-block;}
}
.batch-print-modal{
	.express-btn{display: block; width:100%; margin-top:1rem;}
}
 #noticeModal{z-index: 10000;}

#batchInBoxModal .modal-dialog{width:65rem; height:50rem; margin-top:50px; color:#666;
	.modal-content{width:100%; height:100%;}
}

//选择删除订单理由样式
#dropdownMenu em{font-style: normal;}

//订单部分出现滚动条
.order-main{overflow: auto;}

//身份验证
.auth-assign-btn{text-align: center;}

//验货界面
.check{
	.order-header{text-align: left; font-size:18px;
		.check-all{display:inline-block; }
		.package-order{display:inline-block; padding-left:.7rem; }
	}
	
	.order-list{

		li{	position: relative;
			
			.check-box{display:inline-block; position: absolute; top:16%; }
			.order-detail{display:inline-block; padding-left:3rem; width:98%;	}
			.state{position: absolute; top:40%; right: 40%;}
			.prompt-color{color: #FF0000;}
			&:hover{
				.fa-print {right:30%;}
			}
		}
	}
	
	.btn{width:49%; margin-top:2rem;}

}
//adimin
.nav{
	ul.dropdown-menu{min-width:3rem !important;
		li.open > a{background-color:#f9f9f9 !important;}
		li.open>a:hover, li.open>a:focus  {background-color:#eee !important;}
	}
	
}
