{% set menu_name = "commodity" %}
{% set sidebar_name = "品牌管理" %}
{% extends '@view/layouts/main.twig' %}
{% block content %}
    
<!--S 面包屑-->
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">商品管理</a>
        </li>
        <li>
            <a href="/brand/list/">品牌管理</a>  
        </li>
        <li class="active">{{ isCreate ? '创建品牌' : '编辑品牌'}}</li>
    </ul>
</div>
<!--E 面包屑-->

<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="space-10"></div>
            {% set form = activeform.begin({'id':'create-form','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-4'} } }) %}
            <div class="edit-page edit-brand">
                <h4>品牌信息</h4>
                <div class="space-10"></div>
                <ul>
                    <li class="clearfix">
                      <span>品牌原名</span>
                      <input type="text" class="col-xs-3" value="{{ model.ename }}" name="Brand[ename]" placeholder="例：Louis Vuitton" />
                    </li>
                    <li class="clearfix">
                      <span>品牌译名</span>
                      <input type="text" class="col-xs-3" value="{{ model.cname }}" name="Brand[cname]" placeholder="例：路易威登" />
                    </li>
                </ul>
            </div>
            <button type="submit" class="btn btn-primary btn-sm btn-block">保存</button>
            {{ void(form.end()) }}
        </div>
    </div>
</div>
{% block page_scripts %}
{% endblock %}
{% endblock %}