<div class="express-info">
<span>快递单号：<em id="expressNo">{{ express_no }}</em></span>
<div>快递公司:
  <div class="btn-group">
    <select data-type="{{ result }}" class="form-control express-type">
      {% for key,value in express_list %}
    	<option {% if key == result %}selected="selected" {% endif %}value="{{ key }}">{{ value }}</option>
      {% endfor %}
    </select>
  </div>
</div>
<script>
	$(".express-type").on("change",function(){
		var expressVal = $(this).val();
		$(this).attr("data-type",expressVal) ;
	});
</script>