html,body,textarea,button,input,select{ font-size:30px; }

@media all and (min-width: 960px) {
    html,body,textarea,button,input,select{ font-size:26px; }
}
// @media all and (max-width: 768px) {
//     /* styles for narrower desktop browsers and iPad portrait */
// }
@media all and (max-width: 480px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    html,body,textarea,button,input,select{ font-size:20px; }
}

@media all and (max-width: 420px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    html,body,textarea,button,input,select{ font-size:18px; }
}

@media all and (max-width: 380px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    html,body,textarea,button,input,select{ font-size:16px; }
}
