@import "loading";

$font-big: 28px;
$font-middle: 16px;
$font-normal: 14px;
$base-height:2.75rem;

$border-color:#d5d5d5;
$background-color:#f5f5f5;
$font-color:#333333;

$padding-xs-space:8px;
$padding-sm-space:10px;

body,ul,p{margin:0}
em,i{font-style:normal;}
strong{font-weight:normal;}
button{height:2.75rem;}
button[type=button]{height:2.75rem;}
input[type=text]{height:$base-height;}
li{list-style:none;}
.reduce,.settled{color:#009900;}
.increase,.unfinished{color:red;}
.prompt{color:#000; font-size:16px;}

.inline-block{display: inline-block;}


//navbar
#navbar{  background: #438eb9; height:45px; min-height:45px; margin:0;
	#dropMenu{min-width:126px; right:0;}
}

//admin icon
.select2-container{
 	.select2-choice abbr:before{top:0;}
	.select2-choice .select2-arrow b{background:none;}
	.select2-choice .select2-arrow b:before{top:6px;}
}
.page-content{padding-top:0;}

// 信息汇总部分
.data-collection{
	.infobox,.infobox-data{text-align:right;}
	.infobox{width:20.5%; height:110px; margin-right:6%; border:1px solid;
		&:last-child{margin:0;}
		.infobox-data{
			.infobox-data-number{font-size:$font-big !important; line-height:1.2;}
			.infobox-content{line-height:2;}
			i{font-size:$font-normal;}
			.icon-arrow-down{color:green;}
			.icon-arrow-up{color:red;}
		}
	}	
}

//搜索部分
.search-area{
	input{text-align:center;}
	.classified-search{width:100%; text-align:left;
		#searchContent{height:2.75rem !important; }
		.input-group{width:470px; display:inline-block; }
		.search-bar{width:60%; line-height:2; text-align:left; padding: 0 10px;}
		.classify-info{vertical-align:top; margin-left:-4px;
			.dropdown-menu{min-width:100px;}
			.classified-btn{width:100px;}
		}
		.search-btn{margin-left:1.2rem; width:58px; display:inline-block;}
		.info{color:#999;}
	}
	.time-search{
		.from,.to,strong,.add-on{display:inline-block; }
		.from,.to{margin-right:1rem;}
		strong{padding:.5rem .6rem;}
		strong:first-child{padding-left:0;}
		input[readonly]{background:#fff !important; width:14rem; font-size: 1.2rem;}
		.add-on{height:$base-height; width:$base-height; text-align:center; line-height:2.4; background:#eee; 
			border:1px solid $border-color; border-left:none;
		}
		button{padding:0 2rem; margin-left:.4rem; vertical-align:top; }
	
	}
	
	.results-tab{
		.nav{
			li{position:relative;}
			a{padding:.8rem 2rem; border:none; background:#fff; cursor:pointer;}
			.active a{border:1px solid $border-color; border-top:3px solid #4c8fbd; box-shadow:none;}

		}
		.second-level-tabs{border:none; margin:.5rem 0 0 1rem; 
			a{padding:.5rem 1rem;}
			.active a{border:none; border-left:3px solid #4c8fbd; color:#4c8fbd;}

		}
		.tab-content{border:none; padding:1rem 0;
			.table{
				thead tr th{border-bottom-width:1px;}
				tr,td{border:1px solid #d8d8d8; vertical-align:middle; text-align:center;}
				.placeholder{border:none; 
					td{border:none; padding:5px;}
				}
				
				.info td{vertical-align:middle; border:none; padding:0 0 0 1rem; line-height:2; background:#f2f2f2;
					&.order-num{text-align:left;
						span{margin-left:2rem;}
					}
					&.time{text-align:right;
						.sender{margin-right:2rem; }
						p{text-align:right; padding-right:1rem; display:inline-block;}
					}
					
				}
				.placeholder td{background-color:#fff;}
				
				.info-detail td{
					span{display:block; line-height:2;}
					.special-color{color:#868686;}
					del{display:block; line-height:2;}
					a{line-height:2;}
				}
				.order-info{width:28%;
					img,.info{vertical-align:top;}
					img{width:100px; height:80px; margin-right:1rem;}
					.info{ width:53%; display:inline-block;
						h6{text-align:justify; margin-top:0;}
						p{color:#868686; text-align:right; margin-top:2.5rem; line-height:2;}
						em{float:left;}
					}
				}
				.refund-status{width:97px;}
				.trade-num{width:78px; word-break:break-all;}
				.operate{
					.edit,.note{display:inline-block; position:relative;}
					.edit{margin-right:2rem;}
					span{font-size:$font-middle;}
				}
			}
			.settlement{margin-bottom:1rem;
				p{display:inline-block; margin-right:1rem;}
			}
			.pages{text-align:right; margin-top:-1rem; line-height:3;
				em{font-weight:bolder; font-size:$font-middle;}
				.btn{float:left; margin:.5rem 0;}
				.full-refund{padding:0 1rem;}
				
				.search-sum,.pagination,.btn{display:inline-block; margin:.5rem 0; vertical-align:middle;}
				.search-sum{margin-right:1rem;}
				.pagination {
					li a,.disabled span{padding:4px 9px;}
					.disabled span{background:#fafafa;}
				}
			}
		}	
	}
		
}

//订单信息的公共样式
.goods-info{ padding:$padding-xs-space;
	img,.info{vertical-align:top;}
	img{ margin-right:1rem;}
	.info{display:inline-block;
		h6{text-align:justify; margin-top:0;}
		p{color:#868686; text-align:right; margin-top:2.5rem; line-height:2;}
		em{float:left;}
	}
}
.other-info{padding:$padding-xs-space;
	span{display:block; line-height:2;}
	.special-color{color:#868686;}
	del{display:block; line-height:2;}
	a{line-height:2;}
}

//blance order-info
.balance-order-info{margin-top:1rem;
	.info-content{background:$background-color; border:1px solid $border-color;
		li{display:inline-block; height:92px; text-align:center; vertical-align:middle; border-right:1px solid $border-color;}
		li:last-child{border:none;}
	}

	.buyer-info{
		.other-info{width:16%;}
	}

	.settlement-info{
		.tab-content{padding:0; }
		.tab-pane{background:$background-color;}
		.table-responsive{border:1px solid $border-color; padding:1rem; line-height:2;
			li{
				span{width:9rem; display:inline-block; text-align:right; margin-right:1rem;}
			}
		}
	}
	.search-area{padding-left:0;
		.tab-content{
			.settled{color:#009900;}
			.ignore{color:red;}
		}
	}

	.batch-operate{margin-bottom: 2rem;
		.dropdown{display:inline-block; margin-right:1rem;
			.btn{width:138px;}
			.caret{margin-left:1rem;}
		}
		.dropdown-menu{min-width:138px;}
		.apply{padding:0 1.5rem;}
	}
}

//结算清单
.balance-account-list{
	header{line-height:3; text-align:right;
		h4,div{display:inline-block;}
		h4{float:left;}
		span{margin-right:2rem;}
	}

	table{border:1px solid $border-color;
		td{text-align:center;}
	}

	.collection{text-align:right; line-height:2.2;  background:$background-color; border:1px solid $border-color;
		span{display:inline-block; width:18%; text-align:center; float:left; }
		
	}
}
.manual-list{
	td{border:1px solid $border-color;}
}

//modal
.modal-content{border-radius:10px;
	.modal-footer{border-radius:0 0 10px 10px;}
}
#noteModal{
	.modal-title{display:inline-block; margin-right:2rem;}
	.modal-body{padding:15px;
		.note-content{
			h6{border-bottom:1px solid #e5e5e5; line-height:2; margin:0;}
			li{background:#f2f2f2; padding:.5rem 1rem; line-height:1.5; margin:0.5rem 0;
				span{color:#3300FF;}
				time{font-size:10px;}
			}
			
		}
	}
}
#fullRefundModal{
	.modal-body{font-size:$font-normal;
		p{margin-bottom:.5rem; }
		strong{font-size:$font-middle; font-weight:bolder;}
	}
}
#ignoreModal,#printModal{
	#ignoreContent,#printContent{padding:0 2rem; margin-top:1rem;}
	.dropdown-menu{min-width:150px;}
}
#adjustModal{
	.adjustNum{line-height:2.5;
		span,input{vertical-align:middle;}
		span{display:inline-block;}
	}
}
#confirmAccountModal{
	input{margin:1rem 0;}
}
#accountInfoModal{
	.modal-body{position:relative;
		li{line-height:2; margin-bottom:0.5rem; font-size:14px; width:50%; 
			em{display:inline-block; margin-right:2rem;}
			a{float:right; cursor:pointer;}
		}
		.copy-success{display:none; height:3rem;width:6rem; background:$background-color; line-height: 2.7;
	  		text-align: center; border-radius:1rem; position:absolute; top:48%; left:60%;}
		}
}
//打印国内物流订单
.print-wrap{margin:0px 10px;
	h1{height:40px; margin:0 0 1rem 0; line-height:40px; font-size:20px; text-align: center;}
	time{height:20px; line-height:20px; display:block; text-align:right; margin-bottom:15px;}
	table{width:100%; border-collapse:collapse; font-size:12px;}
	th,td{border:1px solid #000; height:30px; overflow:hidden;}
	thead tr{background:#D0D0D0;}
	.express-num{width:16%;}
	.user-name{width:9%;}
	.order-num{width:30%; }
	tr:nth-child(even){background:#D0D0D0;}
	tr:last-child{page-break-after:always;}
	footer{text-align:right; margin-top:40px; height:40px; line-height:40px; page-break-after:always;
		span{ margin-left:20px;}
	}
}

@media all and (min-width: 460px) and (max-width: 880px) {
	.data-collection{
		.infobox{width:40%; height:110px; margin-right:5%;
			&:last-child{margin-right:5%;}
		}
	}
	.search-area{
		.classified-search,.time-search{ margin-left:5%;}
		.classified-search{ 
			.search-bar{width:60%; }
		}

		.results-tab{
			

			.tab-content{border:none; padding:1.4rem 0;
				.table{
					.order-info{width:40%;
						img{width:44%; margin-right:1rem;}
						.info{width:50%; overflow:hidden;
							p{text-align:left; margin-top:1.5rem; line-height:1;}
							strong{display:inline-block;}
						}
					}

					.operate{
						.edit,.note{display:block;}
						.edit{margin-right:0;}
					}
				}
			}	
		}
	}

}

@media all and (max-width: 740px){
	.search-area{
		.time-search{
			.frome,.to{display:block;}
			strong{width:6.4rem; margin-top:1rem;}
			input[readonly]{background:#fff !important; width:30rem;}
			.order-time,.update-time{ margin-right:1rem;}
			button{margin:1rem 0 0 0;}
		}	
	}

}

@media all and (max-width: 460px){
	.data-collection{
		.infobox:last-child{margin-right:5%;}
	}
	.search-area{
		.classified-search{ 
			.search-bar{display:block; width:90%; margin-top: 2%;}
		}
		.time-search{				
			input[readonly]{background:#fff !important; width:20rem;}		
		}
	}


}
