<div class="wrap">
    	<div class="left_box">
    		<dl>
    			<dt class="havesub">我的物料</dt>
    			<dd {% if sidebar_name == '全部物料' %}class="cur"{% endif %} {% if menu_name !="material" %} style="display:none;"{% endif %}><a href="/material/list">全部物料</a></dd>
    			{# <dd><a href="#">其他可订物料</a></dd> #}
    		</dl>
            <dl>	
                <dt class="havesub" data-index="0">hp用户</dt>
                <dd {% if sidebar_name == '全部用户' %}class="cur"{% endif %} {% if menu_name !="hhg" %} style="display:none;"{% endif %}><a href="/owner/list">全部用户</a></dd>
                <dd {% if sidebar_name == '创建用户' %}class="cur"{% endif %} {% if menu_name !="hhg" %} style="display:none;"{% endif %}><a href="/owner/create">创建用户</a></dd>
            </dl>
            <dl>
                {# <dd><a href="#">其他可订物料</a></dd> #}
                <dt class="havesub">我的订单</dt>
                <dd {% if sidebar_name == '预订单' %}class="cur"{% endif %} {% if menu_name != 'order'%} style="display:none;"{% endif %}><a href="/order/pre">预订单</a></dd>
                <dd {% if sidebar_name == '审批订单' %}class="cur"{% endif %} {% if menu_name != 'order'%} style="display:none;"{% endif %}><a href="/order/approval">审批订单</a></dd>
                {# <dd {% if sidebar_name == '待审批订单' %}class="cur"{% endif %} {% if menu_name != 'order'%} style="display:none;"{% endif %}><a href="/order/needapproval">待审批订单</a></dd> #}
                <dd {% if sidebar_name == '进行中的订单' %}class="cur"{% endif %} {% if menu_name != 'order'%} style="display:none;"{% endif %}><a href="/order/doing">进行中的订单</a></dd>
                <dd {% if sidebar_name == '已完成的订单' %}class="cur"{% endif %} {% if menu_name != 'order'%} style="display:none;"{% endif %}><a href="/order/done">已完成的订单</a></dd>
                <dd {% if sidebar_name == '异常订单' %}class="cur"{% endif %} {% if menu_name != 'order'%} style="display:none;"{% endif %}><a href="/order/except">异常订单</a></dd>
                <dd {% if sidebar_name == '大发放' %}class="cur"{% endif %} {% if menu_name != 'order'%} style="display:none;"{% endif %}><a href="/order/import">大发放</a></dd>
            </dl>
            <dl>
                <dt class="havesub">我的报告</dt>
                <dd {% if sidebar_name == '库存报告' %}class="cur"{% endif %} {% if menu_name != 'report'%} style="display:none;"{% endif %}><a href="/stock/list">库存报告</a></dd>
                <dd {% if sidebar_name == '出入库报告' %}class="cur"{% endif %} {% if menu_name != 'report'%} style="display:none;"{% endif %}><a href="/stock/detail">出入库报告</a></dd>
                <dd {% if sidebar_name == '订单报告' %}class="cur"{% endif %} {% if menu_name != 'report'%} style="display:none;"{% endif %}><a href="/order/report">订单报告</a></dd>
                <dd {% if sidebar_name == '结算报告' %}class="cur"{% endif %} {% if menu_name != 'report'%} style="display:none;"{% endif %}><a href="/order/settlement">结算报告</a></dd>
                
            </dl>
            <dl>
                <dt class="havesub">预算管理</dt>
                <dd {% if sidebar_name == '客户预算' %}class="cur"{% endif %} {% if menu_name != 'budget'%} style="display:none;"{% endif %}><a href="/budget">客户预算</a></dd>
                
            </dl>
    	</div>
    	
    </div>