{% set menu_name = "balance" %}
{% set sidebar_name = "买手结算" %}
{% extends '@view/layouts/main.twig' %}
{% block content %}
<link rel="stylesheet" href="/ace/css/blue.css">
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>
	<!-- 面包屑 开始 -->
	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<a href="#">财务管理</a>
		</li>
		<li>
			<a href="#">买手结算</a>
		</li>

		<li class="active">结算详情</li>
	</ul><!-- 面包屑 结束 -->
</div><!-- 主体topbar 开始 -->
<!-- page-content 开始 -->
<div class="page-content">
	<!-- row 开始 -->
	<div class="row">
		<!-- col 开始 -->
		<div class="col-xs-12">
			<div class="space-10"></div>
			<div class="balance-account-list">
				<header>	
					<h4>结算清单</h4>
					<div>
						<span>结算人：南篤良</span>
						<time>结算时间：2014-10-23  10:23 至 2015-10-12 12:23</time>
					</div>
				</header>
				<div class="space-6"></div>
				
				<div class="table-responsive results-tab">
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="center">
									<div class="check-all" ><input class="checkAll" type="checkbox" ></div>
								</th>
								<th class="center">吴娉颖</th>
								<th class="center">果语 (1121)</th>
								<th class="center">订单: 12</th>
								<th class="center outstanding-amount">待结算: <span>2,000.00</span></th>
								<th class="center adjust-amount">调整: <span class="reduce">+5.48</span></th>
								<th class="center final-amount">应结: <span>1,100.45</span></th>
								<th class="cnter">支付宝：anythingbing@sina.com</th>
							</tr>
						</thead>
						<tbody class="order_list">							
							<tr class="info-detail" data-id="1111">
								<td class="center">
									<div class="check-box"><input class="checkBox" type="checkbox" ></div>
								</td>
								<td class="order-id">11111</td>
								<td>待结算</td>
								<td colspan="2">巴宝莉(BURBERRY) 女士手帕巴宝莉(BURBERRY) 女士手帕</td>
								<td>金额: 1,123.48</td>
								<td>调整: <span class="increase">+ 3.48</span></td>
								<td>实结: 1,123.48</td>
							</tr>
							<tr class="info-detail" data-id="1111">
								<td class="center">
									<div class="check-box"><input class="checkBox" type="checkbox" ></div>
								</td>
								<td class="order-id">22222</td>
								<td>待结算</td>
								<td colspan="2">巴宝莉(BURBERRY) 女士手帕巴宝莉(BURBERRY) 女士手帕</td>
								<td>金额: 1,123.48</td>
								<td>调整: <span class="increase">+ 3.48</span></td>
								<td>实结: 1,123.48</td>
							</tr>
							<tr class="info-detail" data-id="1111">
								<td class="center">
									<div class="check-box"><input class="checkBox" type="checkbox" ></div>
								</td>
								<td class="order-id">33333</td>
								<td>待结算</td>
								<td colspan="2">巴宝莉(BURBERRY) 女士手帕巴宝莉(BURBERRY) 女士手帕</td>
								<td>金额: 1,123.48</td>
								<td>调整: <span class="reduce">- 3.48</span></td>
								<td>实结: 1,123.48</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-hover">
						<thead>
							<tr>
								<th class="center">
									<div class="check-all" ><input class="checkAll" type="checkbox" ></div>
								</th>
								<th class="center">吴娉颖</th>
								<th class="center">果语 (1121)</th>
								<th class="center">订单: 12</th>
								<th class="center outstanding-amount">待结算: <span>1,000.00</span></th>
								<th class="center adjust-amount">调整: <span class="reduce">-3.48</span></th>
								<th class="center final-amount">应结: <span>1,100.00</span></th>
								<th class="cnter">支付宝：anythingbing@sina.com</th>
							</tr>
						</thead>
						<tbody class="order_list">							
							<tr class="info-detail" data-id="1111">
								<td class="center">
									<div class="check-box"><input class="checkBox" type="checkbox" ></div>
								</td>
								<td class="order-id">11111</td>
								<td>待结算</td>
								<td colspan="2">巴宝莉(BURBERRY) 女士手帕巴宝莉(BURBERRY) 女士手帕</td>
								<td>金额: 1,123.48</td>
								<td>调整: <span class="increase">+ 3.48</span></td>
								<td>实结: 1,123.48</td>
							</tr>
							<tr class="info-detail" data-id="1111">
								<td class="center">
									<div class="check-box"><input class="checkBox" type="checkbox" ></div>
								</td>
								<td class="order-id">22222</td>
								<td>待结算</td>
								<td colspan="2">巴宝莉(BURBERRY) 女士手帕巴宝莉(BURBERRY) 女士手帕</td>
								<td>金额: 1,123.48</td>
								<td>调整: <span class="increase">+ 3.48</span></td>
								<td>实结: 1,123.48</td>
							</tr>
							<tr class="info-detail" data-id="1111">
								<td class="center">
									<div class="check-box"><input class="checkBox" type="checkbox" ></div>
								</td>
								<td class="order-id">33333</td>
								<td>待结算</td>
								<td colspan="2">巴宝莉(BURBERRY) 女士手帕巴宝莉(BURBERRY) 女士手帕</td>
								<td>金额: 1,123.48</td>
								<td>调整: <span class="reduce">- 3.48</span></td>
								<td>实结: 1,123.48</td>
							</tr>
						</tbody>
					</table>
					
					<div class="collection">
						<span>买手: <em id="buyerNums"></em></span>
						<span>订单: <em id="orderNums">343</em></span>
						<span>待结金额: <em id="outstandingAmount">12,122,657.00</span>
						<span>调整金额: <em id="adjustAmount" class="reduce">- 123.00</em></span>
						<span>应结金额: <em id="finalAmount">12,122,123.00</em></span>
						<button id="confirmAccount"  data-toggle="modal" data-target="#confirmAccountModal" class="btn btn-primary btn-sm">确认结算</button>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- 确认结算 dialog -->
<div class="modal fade" id="confirmAccountModal" tabindex="-1" role="dialog" aria-labelledby="confirmAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmAccountModalLabel">确认结算</h4>
      </div>
      <div class="modal-body clearfix">
        <p>请输入结算密码:</p>
        <input class="col-xs-4" type="password" id="form-field-5" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">确定</button>
      </div>
    </div>
  </div>
</div>
{% block page_scripts %}
<script src="/ace/js/icheck.min.js"></script> 
<script type="text/javascript" src="/ace/js/balance-accout.js"></script>
{% endblock %}
{% endblock %}