<div class="address_popup">
<table>
<tbody>
    <tr>
        <th>输入新密码：<em>*</em></th>
        <td>
            <input type="password" id="password_owner" class="tc-text"><span class="error_tip" id="error_company">密码不能为空</span>
        </td>
    </tr>
</tbody>
</table>
</div>



