<div class="note-content">
	<h6>{{ result.getTypeName() }}备注</h6>
	<ul>
		<li>
			<span>{{ result.created_username }}</span>
			<time>{{ result.created_time|date('Y-m-d H:i:s') }}</time>
			<p>{{ result.content|raw }}</p>
		</li>
	</ul>
</div>