@import "modules/mixins";
@import "modules/function";
@import "modules/color";
@import "modules/button";

.gray-font{color:$text-light-color;}
.red-font{color:red;}
.green-font{color:green;}
.green-bg{background:green;}
.red-bg{background:red;}
.gray-bg{background:$text-light-color;}
.wrap{position:relative;}

h4{margin:0 0 .5rem 1rem; margin-top:1rem;}

.list{
	li{text-align:right; line-height:4; padding:0 1rem; background: $foreground; border-bottom: 1px solid $border-color; cursor:pointer; position:relative;
		p{float:left;}
		span{display:inline-block; margin-right:2rem;}
		button{height:4rem; margin-right:-1rem; padding:0 1rem; color:#fff;}
		select{width:100%; height:100%; text-indent:1em; border:none; position:absolute; top:0; left:0; background:transparent; z-index:1; @include appearance(none);  padding-right:2.8rem;}
	
		em{display:inline-block; height:100%; width:0; position:absolute; top:0; left:0; background:rgba(0,204,255,0.3);}
	}
	li.second-select{text-align:left;
		select{direction:rtl;}
		option{direction:ltr;}
	}
	li:first-child{border-top: 1px solid $border-color;}
	.has-select:after{content:"\e613"; font-family:"icomoon"; color:#000; position:absolute; top:2rem; right:1rem;}
}

footer{ width:100%; text-align:center; margin:1rem 0; 
	button{padding:.5rem 0;  color:#fff; cursor:pointer;}
	.reserve-btn{width:90%;}
	.reserve-btn:hover{background:#ce3b4c;}
}

.reservation-mask{display:none; width:100%; height:100%; position:fixed; top:0; left:0; z-index:100;  text-align:center;
	.reservation-content{max-width:960px; margin:0 auto; height:100%; background:$background;

		header{height:10rem; line-height:14; 
			i{font-size:3rem; color:green;}
		}
		p{margin-bottom:1rem; font-weight:bolder;}
		button{margin-top:1rem;}
		button:hover{background:#00CC33;}
	}

}

.tip{width:100%; display:none; position:fixed; top:35%; left:0; z-index:100; 
	.tip-content{background:rgba(255,255,255,0.9); max-width:500px; margin:0 auto;  @include border-radius(.5rem); }
	.tip-body{padding:1rem;
		h2{font-weight:bolder; margin-bottom: .5rem;}
		p{font-size:.9rem;}
	}
	footer{border-top:1px solid rgba(0,0,0,0.3); 
		button{width:49.9%; background:rgba(255,255,255,0.9); display:inline-block; padding:.8rem 0; border-radius:0 0 15px 0; cursor:pointer; color:#000;}
		.cancel{border-right:1px solid rgba(0,0,0,0.3); border-radius:0 0 0 15px; width:50%;}
		button:hover{background:rgba(0,0,0,0.1);}
	}
}

.mask{height:100%; display:none; width:100%; position:fixed; top:0; left:0; z-index:10; background:rgba(0,0,0,0.4);}
//确定按钮
.confirm-page{text-align:center;
	header{height:14rem; line-height:19;
		i{font-size:4rem; color:green;}
	}
	p{margin-bottom:1rem; font-weight:bolder;}
	button{margin-top:1rem;}
	button:hover{background:#00CC33;}
}


//类目游戏
.category-game{
	header{width:80%; text-align:center; margin:0 auto 1rem; 
		h1{font-weight:bolder; margin:1rem 0; font-size:1.5rem;}
		img{width:16rem; height:16rem;}
	}
	footer{
		button{padding:1.2rem 0;}
		.fix-btn{width:30%; background:#00CCFF; margin-right:1rem;}
		.fix-btn:hover{background:#0099FF;}
		.next-btn{width:50%;}
		.next-btn:hover{background:#ce3b4c;}
	}
	button.change-btn{width:90%; background:#00CCFF; }
}
.search{width:100%; display:none;  height:100%; position:fixed; top:0; left:0; z-index:100;
	.search-content{max-width:960px; margin:0 auto; height:100%; background:$background;
		header{padding:1rem; background:$foreground; text-align:center; position:relative;
			input{width:95%; border:1px solid $border-color; @include border-radius(.4rem); padding:.5rem;}
			.search-btn{position:absolute; top:1rem; right:1.4rem; font-size:1.5rem; height:2.5rem; width:3.5rem; line-height:1.8; cursor:pointer;}
			i.search-touch-btn{color:red;}
		}
		.brand-list{display:none;
			li:hover{background:#ddd;}
		}
		
	}
}
