@import "modules/mixins";
@import "modules/function";
@import "modules/color";
@import "modules/button";

.wrap{text-align: center; padding-top:30px;}
button{ width:100pt; height:20pt;background-color: #38bd4f;}