{% set sidebar_name = "专属物料" %}
{% extends "@app/views/layouts/main.twig" %}
{% block body_class %}
{% endblock%}
{% block content %}
	<div class="view_wrap">
        <div class="o_box">
                <div class="empty_box">
                <p>
                    <strong>参数错误!</strong>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
{% endblock %}