$title-color: #000;
$text-color: #333;
$text-white-color: #fff;
$text-light-color: #999;
$text-middle-color: #666;
$primary-color: #ff5952; //名称时候多参照这个，颜色啊，数字啊，都没意义

$border-color: #e5e5e5;
$border-light-color: #eee;
$border-dark-color: #ddd;
$border-white-color: #fff;

$foreground: #fff;
$background: #eee;