.wrap{
    width:100%;
	max-width:1280px;
	margin:0 auto;
}

@media (min-width:400px) {
	html,body,textarea,button,input,select{
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

/* Default wide-screen styles */

// @media all and (max-width: 1024px) {
//     /* styles for narrow desktop browsers and iPad landscape */
// }

html,body,textarea,button,input,select{ font-size:30px; }

@media all and (min-width: 960px) {
    body{
        max-width:720px;
        margin:0 auto;
    }
}
@media all and (max-width: 800px) {
    html,body,textarea,button,input,select{ font-size:28px; }
}

@media all and (max-width: 720px) {
    html,body,textarea,button,input,select{ font-size:26px; }
}

@media all and (max-width: 640px) {
    html,body,textarea,button,input,select{ font-size:24px; }
}

@media all and (max-width: 480px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    html,body,textarea,button,input,select{ font-size:20px; }
}

@media all and (max-width: 420px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    html,body,textarea,button,input,select{ font-size:18px; }
}

@media all and (max-width: 380px) {
    /* styles for iPhone/Android landscape (and really narrow browser windows) */
    html,body,textarea,button,input,select{ font-size:16px; }
}
