@import "modules/mixins";
.alert{ display: none; pointer-events: none; position: fixed; z-index:1000; left:0; top:35%; width:100%; text-align: center; 
	p{ display: inline-block; line-height:1.2; max-width:66%; padding:1.2em 1.6em; text-align: left; color: #000;  background-color: rgba(255,255,255,.95); @include box-sizing(border-box); @include border-radius(.2em);@include box-shadow(rgba(0, 0, 0, 0.2) 0 .3em .5em); }
}

.tabs{ text-align: center; color:$text-light-color; background-color:$foreground; border-top:1px solid $border-color; border-bottom:1px solid $border-color;
	span{cursor:pointer;display: inline-block;width:50%;height:3rem;line-height:3;
		&.active{ color:$primary-color; border-bottom:4px solid $primary-color; }
	}
	&.fixed{ position:fixed; left:0; top:0; width:100%; z-index:100; }
}

.buyer-recommend{ text-align: left; padding-top:.3rem;
	li{display:inline-block; position:relative; vertical-align: bottom; width:32%;margin-left:1%; margin-bottom:.3rem;
		img{width:100%; height:7.2rem; vertical-align:top; }
		span{position: absolute; color:$text-white-color; right:0; bottom:.7rem; font-size:.8rem; background-color:rgba(0,0,0,.7); padding:0 .5rem; @include border-radius(1rem 0 0 1rem);}	
	}
}

.level{ margin-left:.4rem; height:1rem; background:url(img/level.png) repeat-x; @include background-size(1rem 400%);
	&.level1{ background-position:0 0;} //heart
	&.level2{ background-position:0 -1rem;} //diamond
	&.level3{ background-position:0 -2rem;} //silvercrown
	&.level4{ background-position:0 -3rem;} //goldencrown
}

.price{ font-weight:normal;
	sub{ vertical-align: baseline; margin-left: -0.2em; }
}

.nodata{ text-align: center; color:#000; background-color:#FEFFE4; line-height:5; }
//返回上一级
.back{position: absolute; z-index:20; top:0; left:0; height:4rem; width:4rem; padding:1rem 0 0 1rem; @include box-sizing();   
	i{color:$text-white-color; font-size:2rem;}
}
// 清除浮动
.clearfix {
	&:before,&:after {display: table;content: "\0020";line-height: 0;}
	&:after {clear: both;}
}
// 超出一行隐藏文字 ...
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@media all and (max-width: 360px) {
	.buyer-recommend img{ height:6rem; }
}

