//弹框全局样式
@media screen and (-webkit-min-device-pixel-ratio:0){ .popup{position: relative;} } /* Safari hack */
.popup-box{ z-index:100; visibility: hidden; @include transition(all .4s ease-in 0); opacity: 0; background-color: rgba(0,0,0,0.3); position: fixed; left:0; top:0; width:100%; height:100%;
	> .close-popup{ height:20%; width:100%; opacity:0; }
	.popup-content{ background-color: #f7f3f0; height:80%; overflow: auto; -webkit-overflow-scrolling: touch; @include transform(translateY(150%)); @include transition(all 0.2s ease-in 0); }
	footer{ text-align: center; padding-top:1rem; padding-bottom:2em;
		button{ font-size:.8em; width:44%; height:3em; 
			&:last-child{ margin-left: 4%; }
		}
	}
}
.popup{ overflow: hidden; 
	.popup-box{ opacity: 1;visibility: visible; 
		.popup-content{@include transform(translateY(0)); }
	}
}