{% extends "@app/views/layouts/main.twig" %}
{% block content %}
{% set sidebar_name="" %}
{% include '@app/views/layouts/base_with_sidebar.twig' %}
<div class="main">
  <div class="order_view">
    <div class="mt">订单信息</div>
    <div class="mc">
        <dl>
            <dt>预定单号：HPR-20150612-1001</dt>
            <dt>订单预估报价：500.00RMB</dt>
        </dl>
        <dl>
            <dt>物料审批/费用审批</dt>
            <dd>
                <ul class="shenpi">
                    <li class="clearfix">
                        <p>订单发放物料中含有分享预料，需要物料审批方可发货</p>
                        <span>
                            <a href="javascript:void(0);" class="blue">发送审批</a>
                            <a href="javascript:void(0);" class="blue">修改预订单</a>
                            <a href="javascript:void(0);" class="blue">取消预订单</a>
                        </span>
                    </li>
                    <li class="clearfix">
                        <p>订单预估报价超过1000元，需要费用审批方可发货</p>
                        <span>
                            <a href="javascript:void(0);" class="blue">发送审批</a>
                            <a href="javascript:void(0);" class="blue">修改预订单</a>
                            <a href="javascript:void(0);" class="blue">取消预订单</a>
                        </span>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt>发货人信息</dt>
            <dd>
                <p>收货单位：惠普科技</p>
                <p>收 货 人：周星星</p>
                <p>地    址：北京昌平区六环以内东小口龙锦苑东二区18号楼6单元102室</p>
                <p>手机号码：136****1558</p>
                <p>运输时效：</p>
                <p>保险：</p>
                <p>借用：</p>
                <p>归还时间：</p>
                <p>用途：</p>
                <p>备注：</p>
            </dd>
        </dl>
        <dl>
            <dt>配送信息</dt>
            <dd>
                <p>送货日期：2015-04-23</p>
                <p>配送时间：9:00-15:00</p>
            </dd>
        </dl>
        <dl>
            <dt>物料清单</dt>
            <dd>
                <table class="materiel_table">
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td>物料编号</td>
                            <td>物料名称</td>
                            <td>所属人</td>
                            <td>计划数量</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>201311002</td>
                            <td><a href="/material/view/11" class="blue">白色半袖圆领衫XL</a></td>
                            <td>Alisha  Liu</td>
                            <td>20</td>
                            <td><a href="#" class="blue">删除</a></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>201311002</td>
                            <td><a href="/material/view/11" class="blue">白色半袖圆领衫XL</a></td>
                            <td>Alisha  Liu</td>
                            <td>20</td>
                            <td><a href="#" class="blue">删除</a></td>
                        </tr>
                    </tbody>
                </table>   
            </dd>
        </dl>
    </div>
  </div>
  </div>
{% endblock %}



