{% set menu_name = "boardroom" %}
{% set sidebar_name = "添加会议室" %}
{% extends '@view/layouts/main.twig' %}
{% block content %}
<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>
    <!-- 面包屑 开始 -->
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">会议室管理</a>
        </li>
        <li class="active">添加会议室</li>
    </ul><!-- 面包屑 结束 -->
</div><!-- 主体topbar 开始 -->
<div class="page-content position-create">
    <!-- row 开始 -->
    <div class="row">
        <!-- col 开始 -->
        <div class="col-xs-12">
            <div class="space-10"></div>
            {% set form = activeform.begin({'id':'create-form','layout':'horizontal','fieldConfig':{'horizontalCssClasses':{'wrapper':'col-lg-4'} } }) %}   

            <div class="space-10"></div>
            <div class="field-manage">

                <div class="space-6"></div>
                <div id="fieldList" class="field-list clearfix">
                    <div id="blockArea" class="block-area">
                        <div class="field-block col-xs-12">

                            <ul class="field-content col-xs-5">
                                <li>
                                    <span>名称</span>
                                    <input type="text" class="input-xlarge"  name="name" placeholder="">

                                </li>
                                <li>
                                    <span>楼层</span>
                                    <input type="text" class="input-xlarge" name="floor" id="form-field-5" placeholder="">
                                </li>
                                 <li>
                                    <span>人数</span>
                                    <input type="text" class="input-xlarge" name="people_num" id="form-field-5" placeholder="">
                                </li>

                            </ul>

                        </div>
                    </div>

                    <button type="submit" class="btn btn-block btn-primary btn-sm">保存</button>
                </div>

            </div>
            {{ void(form.end()) }}
        </div>
    </div>
</div>
<div class="modal fade"  id="uploadImgModal" tabindex="-1" role="dialog" aria-labelledby="uploadImgModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadImgModalLabel">选择上传的图片</h4>
            </div>
            <form id="uploadimageForm" action="/position/uploadfile" method="post" target="tarframe" enctype="multipart/form-data">
                <div class="modal-body">
                    <p>
                        <input type="hidden" name="num" id="imageNum"  value=""/>
                        <input type="hidden" value="{{ App.request.getCsrfToken() }}" name="{{ App.request.csrfParam }}">
                        <input type="file" id="upload_file" name="upload" />
                        <span id="linkImg" href="#"><i class="icon-upload-alt bigger-160"></i><em>请选择上传的图片</em></span>
                        <iframe src='' width='0' height='0' style='display:none;' name="tarframe"></iframe>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
                    <button type="button" id="cofirm-button" data-dismiss="modal" class="btn btn-primary btn-sm" >确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    function stopSend(num, img) {
        $("#image-" + num).val(img);
    }
    $("#cofirm-button").click(function () {
        $("#uploadimageForm").submit();
    });
</script>
<script type="text/javascript" src="/ace/js/position-create.js"></script>
{% endblock %}